@font-face {
  font-family: Starcraft-Italic;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: local("Combatron"),
    url("./Fonts/Starcraft-Italic.otf") format("opentype");
}
@font-face {
  font-family: Starcraft-Normal;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: local("Combatron"),
    url("./Fonts/Starcraft-Normal.ttf") format("truetype");
}
@font-face {
  font-family: Starcraft;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: local("Combatron"), url("./Fonts/Starcraft.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 2px solid red; */
  font-family: "Orbitron", sans-serif;
  /* font-family: Starcraft; */
  /* overflow-x: hidden; */
}
body,
html {
  background: linear-gradient(
    240.32deg,
    #5b1188 10.2%,
    #2c185b 36.02%,
    #081e3a 50.45%,
    #051225 81.89%,
    #040d1f 100.83%
  );
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.App {
  width: 100vw;
  height: auto;
  background: linear-gradient(
    240.32deg,
    #5b1188 10.2%,
    #2c185b 36.02%,
    #081e3a 50.45%,
    #051225 81.89%,
    #040d1f 100.83%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.image {
  object-fit: cover;
  width: 100%;
}
