#float {
  /* display: none; */
  /* transform: translate(0, 0); */
  animation: floating 5s ease-in-out infinite;
}
@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, 40px);
  }

  100% {
    transform: translate(0, -0px);
  }
}
#star_rotate,
#exp {
  animation: blink 1.5s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
