.cart_container {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.cart_text {
  color: #fff;
  margin-bottom: 20px;
  margin-left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart_products {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  margin-bottom: 150px;
  flex-wrap: wrap;
  row-gap: 30px;
}
