.purchased_products {
	margin: 0 20px;
}
.cards_container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 15px;
	padding: 10px;
}
.text {
	font-size: 2rem;
	color: rgb(0, 183, 255);
	margin: 20px 0;
}
